<footer class="footer">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <div class="logo mb-4 md:mb-0">
            <img src="thelogo.png" alt="Logo" class="h-10">
        </div>
        <nav class="nav">
            <ul class="flex space-x-4 mb-4 md:mb-0">
                <li><a href="https://www.google.com" class="text-white">Google</a></li>
                <li><a href="https://www.facebook.com" class="text-white">Facebook</a></li>
                <li><a href="https://www.twitter.com" class="text-white">Twitter</a></li>
            </ul>
        </nav>
        <div class="social-media flex space-x-4">
            <a href="https://www.google.com"><img src="google.png" alt="Google" class="h-6"></a>
            <a href="https://www.facebook.com"><img src="facebook.png" alt="Facebook" class="h-6"></a>
            <a href="https://www.twitter.com"><img src="twitter.png" alt="Twitter" class="h-6"></a>
        </div>
    </div>
</footer>
