<header class="header">
    <div class="container mx-auto flex justify-between items-center">
        <div class="logo">
            <img src="thelogo.png" alt="Logo" class="h-10">
        </div>
        <nav class="nav">
            <ul class="flex space-x-4">
                <li><a href="page_one.html" class="text-white">Página Uno</a></li>
                <li><a href="page_two.html" class="text-white">Página Dos</a></li>
                <li><a href="page_three.html" class="text-white">Página Tres</a></li>
            </ul>
        </nav>
    </div>
</header>
